
@import url(https://fonts.googleapis.com/css?family=Parisienne|Prata);
*{
	margin: 0;
	padding: 0;
	font-family: "Prata", serif;
}

header{ 
	min-height: 100px;
	background-size: cover;
	background-position: center;
}

@viewport{
	zoom: 1.0;
	width: extend-to-zoom;
}

@-ms-viewport{
	width: extend-to-zoom;
	zoom: 1.0;
}

ul{
	float: right;
	list-style-type: none;
	margin-top: 25px;
}

ul li{
	display: inline-block;
}

ul li a{
	text-decoration: none;
	color: #cb8686;
	padding: 5px 20px;
	border: 1px solid #fff;
	transition: 0.6s ease;
}

ul li a:hover{
	background: #c65353;
	color: #000;
	box-shadow: 0 0 10px #c65353, 0 0 40px #c65353, 0 0 80px #c65353;
}

ul li.active a{background-color: #c65353;
	color: #000;
}

.logo {
	color: #000000;
	float: left;
	padding-left: 25px;
	margin-top: 25px;
}

.title{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	min-height: 100px;
}

.title h1{
	font-size: 70px;
	color: #cb8686;
	font-family: "Prata", serif;
}

.button{
	position: absolute;
	top: 60%;
	left: 50%;
	transform: translate(-50%,-50%);
}
	
.btn{
	border: 1px solid #c65353;
	padding: 10px 30px;
	text-decoration: none;
	color: #cb8686;
	transition: 0.6s ease;
	
}

.btn:hover{
	background: #c65353;
	color: #000;
	box-shadow: 0 0 10px #c65353, 0 0 40px #c65353, 0 0 80px #c65353;
}
	
.main{
	max-width: 1200px;
	margin: auto;
}

.sub-menu-1
{
display: none;}

.menu-bar ul:hover .sub-menu-1 ul{
	display:block;
	position: absolute;
	background: rgb;(0,100,0)
	margin-top: 15px;
	margin-left:-15px;
}

.menu-bar ul:hover .sub-menu-1 ul{
	display: block;
	margin: 10px;
}

.menu-bar ul:hover .sub-menu-1 ul{
	width: 150px;
	padding: 20px; 0 0 0;
	border-bottom: 1px dotted #fff;
	background: transparent;
	border-radius: 0;
	text-align: left;
}

 
	